.header {
    width: 100%;
    /* height: 100px; */
    background: #dedede;
    position: fixed;
    top: 0;
    left: 0;
}

.header-func {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ff0000;
}

.header-func .left-menu {
    display: flex;
    gap: 10px;
}

.header-func .right-menu {
    display: flex;
    gap: 10px;
}

.header-func .left-menu a {
    display: flex;
    align-items: center;
    gap: 5px
}

.header-func .right-menu img {
    width: 20px;
}